name: Pull Requests

on:
  pull_request:

jobs:
  pull-request:
    name: Pull Requests
    strategy:
      fail-fast: false
      matrix:
        rock-path:
          - chaos-exporter
    uses: canonical/observability/.github/workflows/rock-pull-request@feat/support-rock-monorepos
    with:
      rock-path: ${{ matrix.rock-path }}
