name: "Publish rock to GHCR:dev"

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  release-dev:
    name: Release to GHCR
    strategy:
      fail-fast: false
      matrix:
        rock-path:
          - chaos-exporter
    uses: canonical/observability/.github/workflows/rock-release-dev.yaml@feat/support-rock-monorepos
    with:
      rock-name: ${{ matrix.rock-path }}
      rock-path: ${{ matrix.rock-path }}
